.task7_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task7_imgWrapper {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.task7_imgWrapper img {
    max-width: 100%;
}

.task7_line {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 5px;
    width: 100%;
}

.task7_answer {
    display: flex;
    font-size: 20px;
    margin: 5px;
    width: 100%;
    justify-content: center;
}

.task7_answer_item {
    align-items: center;
}

.task7_answer select {
    margin: 10px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #0AB7D3;
    align-self: center;
}

.task7_answer1>input {
    margin-bottom: 14px;
}

.task7_answer>p {
    margin: 0;
    align-self: center
}

.task7_answer_item {
    width: 20%;
    display: flex;
    justify-content: center;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    border-radius: 10px;
    margin-left: 15px;
    padding: 5px;
}

.task7_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task7_chek_answer {
    font-size: 26px;
}

.task7_play {
    cursor: pointer;
}